<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Coses/Selenium/SeleniumTestNGAllure">
        <classes>
            <class name="Test01"></class>
            <class name="GoogleTest"></class>
            <class name="Test02">
                <methods></methods>
            </class>
        </classes>
    </test>
</suite>